.adress {
    margin-bottom: 9px;
}

.link-navigation {
    margin-bottom: 9px;
    &:last-child {
        margin: 0;
    }
}

.page-footer {
    display: block;
    padding: 60px 0;
    background-color: var(--background-hero-color);
    & .logo {
        display: block;
        margin-bottom: 20px;
        color: $whiteColor;
    }
    & .container {
        display: flex;
        align-items: baseline;
    }
}

.container-contact {
    flex-direction: column;
    margin-right: 70px;
}

.social-footer {
    display: flex;
    justify-content: center;
}

.footer-item {
    margin-right: 10px;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $whiteColor;
    background-color: var(--footer-link);
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    &:hover, &:focus {
        background-color: var(--accent-color);
    }
}

.footer-send {
    display: inline-block;

}

.subscribe-icon {
    margin-left: 10px;
}

.subscribe-label {
    margin-right: 12px;

}

.form-label {
    background-color: var(--background-hero-color);
}

.subscribe-input {
    width: 358px;
    color: $whiteColor;
    background-color: var(--background-hero-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    .page-footer & {
        width: 358px;
        height: 50px;
        padding: 15px 16px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: var(--background-hero-color);
    
    }
}

.container-footer {
    margin-right: 93px;
}

.adress {
    color: $whiteColor;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.contact-navigation .link-nav {
    color: var(--text-footer);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.footer-title {
    margin-bottom: 20px;
    font-size: inherit;
    line-height: 1.14;
    color: $whiteColor;
    text-transform: uppercase;
}

.form-title {
    display: block;
    margin-bottom: 20px;

    line-height: 1.14;
    font-weight: 700;
    color: $whiteColor;
    text-transform: uppercase;
}

.subscribe {
    display: flex;
    align-items: flex-end;
}

.modal-form~input {
    width: 358px;
    margin-right: 12px;

}

/* footer button */
.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-width: 200px;
    min-height: 50px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;

    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.06em;
    color: $whiteColor;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover, &:focus {
        background-color: var(--button-hover);
    }
}

