.footer {
    padding: 60px 0;
    background-color: $backgroundHeroColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $whiteColor;

    .container {
        display: flex;
        align-items: baseline;
    }
}

.address-wrapper {
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 20px;
    color: $accentColor;

    &--part {
        color: $whiteColor;
    }
}

.address {
    display: block;
    font-style: normal;
}

.address__location {
    margin-bottom: 9px;
    color: $whiteColor;
    &:hover,
    &:focus {
        color: $accentColor;
        transition: color $duration $timingFunction;
    }

}

.footer-contacts__item:first-of-type {
    margin-bottom: 9px;
}

.footer-contacts__link {
    color: $textFooter;
    transition: color $duration $timingFunction;

    &:hover,
    &:focus {
        color: $accentColor;
        transition: color $duration $timingFunction;
    }
}

.join {
    margin-right: auto;

    &__title {
        display: block;
        margin-bottom: 20px;
        color: $whiteColor;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
}

.socials {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border-radius: 50%;
        color: $whiteColor;
        background-color: $footerLink;
        transition: background-color $duration $timingFunction;
    }

    &__link:hover,
    &__link:focus {
        background-color: $accentColor;
    }

    &__icon {
        fill: currentColor;
    }
}

.subscribe {

    &__form {
        display: flex;
        align-items: flex-end;
    }

    &__title {
        display: block;
        font-size: 14px;
        line-height: 1.14;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__label {
        margin-right: 12px;
    }
    &__input {
        color: $whiteColor;
        width: 358px;
        height: 50px;
        padding: 15px 16px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: $backgroundHeroColor;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.67;
        letter-spacing: 0.06em;
        color: $whiteColor;
        background-color: $accentColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        &:hover,
        &:focus {
            background-color: var(--button-hover);
        }
    }

    
    &__icon {
        margin-left: 10px;
    }
}






