:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    
    --black-color: #000000;
    --second-color: #212121;
    --background-hero-color: #2F303A;
    --background-white-color: #E5E5E5;
    --background-team-color: #F5F4FA;
    --background-section-prime: #ECECEC;
    --text-footer: rgba(255, 255, 255, 0.6);
    --button-hover: #188CE8;
    --gap: 30px;
    --hero-overlay: rgba(47, 48, 58, 0.4);
    --footer-link: rgba(255, 255, 255, 0.1);
    --social-icon-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
}

$whiteColor: #ffffff;
$backgroundWhiteColor: #E5E5E5;
$secondColor: #212121;
$primaryTextColor: #757575;